<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="stylesheet.css">
    <!-- A workaround to avoid the annoying chrome error message -->
    <!-- 'favicon not found' -->
    <link rel="shortcut icon" href="">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
    </header>
    <main>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
    </main>
    <!-- A post console for mobile devices -->
    <!-- <script src="hnl.mobileConsole.js"></script> -->
    <script type="module" src="./javascript/instrument.js"></script>
  </body>
</html>
