<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
      <p id='note'>Click title for fullscreen</p>
    </header>
    <main>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
    </main>
    <!-- A post console for mobile devices -->
    <!-- <script src="hnl.mobileConsole.js"></script> -->
    <script type="module" src="eventDispatcher.mjs"></script>
    <script type="module" src="generalFunctions.mjs"></script>
    <!-- Functions for Piece A are using 'generalFunctions.mjs' -->
    <script type="module" src="functionsForPiece.mjs"></script>
    <!-- State object uses EventDispatcher -->
    <script type="module" src="state.mjs"></script>
    <script type="module" src="synth.mjs"></script>
    <script type="module" src="pieceA.js"></script>
  </body>
</html>
