<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">
    <!-- <title>Study for smartphones &#8544</title> -->
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
      <p><a href="/">Index</a></p>
    </header>
    <main>
      <button type="button"></button>
      <button type="button"></button>
      <button type="button"></button>
    </main>
    <!-- <script src="hnl.mobileConsole.js"></script> -->
    <script type="module" src="functions.mjs"></script>
    <script type="module" src="eventDispatcher.mjs"></script>
    <script type="module" src="pieceA.js"></script>
  </body>
</html>
