:root {
    --background-color: #393e46;
    --text-color: #f0f0f0;
    --dark-color: #222831;
    --shiny-color: #f96d00;
    --h1-font-size: 1.3rem;
    --h2-font-size: 1.15rem;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.03rem;
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 0.5rem;
    max-width: 800px;
    margin: 0 0;
}

h1 {
   margin-top: 3.3rem;
   font-size: var(--h1-font-size);
   line-height: 1;
   text-align: center;
   letter-spacing: 0.08rem;
}

h2 {
    font-size: var(--h2-font-size);
    margin: 0;
    padding: 0;
    letter-spacing: 0.04rem;
    font-style: normal;
    font-weight: normal;
    margin: 0 0 -1.0rem 0;
    /* margin-bottom: 0; */
    /* background-color: gray; */
}

h2:first-child {
    margin-top: 0.0rem;
    /* background-color: gray; */
}

/* header { */
/*     background-color: var(--background-color); */
/* } */

/* header h1 { */
/*     text-align: center; */
/*     font-size: min(1.5rem, calc(1.3rem + 2vw)); */
/*     /\* font-size: min(2.125rem, calc(1.3rem + 2vw)); *\/ */
/* } */

main {
    background-color: var(--background-color);
}

/* main h2 { */
/*     font-size: min(1.875rem, calc(0.95rem + 1vw)); */
/*     margin-bottom: 0rem; */
/* } */

/* main h2 + p, */
/* main h2 + ul { */
/*     margin-top: 0.0rem; */
/* } */

section {
    background-color: var(--background-color);
    /* margin-bottom: 120px; */
    /* margin: auto; */
    padding: 0 0.5rem;
}

.italics {
    font-style: italic;
}

#name {
    padding-right: 15px;
    text-align: right;
    font-size: 0.9rem;
    margin-top: -0.5rem;
}

#button-container {
    height: 72vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 50%;
    height: 20vh;
    background: var(--dark-color);
    border-radius: 2em;
    border: 0 solid var(--background-color);
}

.dark {
    background-color: var(--dark-color);
    transform: scale(1.0);
}

.light {
    background-color: var(--shiny-color);
    transform: scale(0.9);
}

/* nav { */
/*     display: flex; */
/*     flex-wrap: wrap; */
/*     justify-content: space-around; */
/*     width: 90%; */
/*     margin: 0 auto; */
/* } */

a {
    font-size: 1.0rem;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: #fefefe;
}

a:focus {
    color: var(--text-color);
}

a:hover {
    color: #b9b9b9;
}

a:active {
    color: #a0a0a0;
}

sup a {
    font-size: 0.8rem;
}

ul {
    /* background-color: darkgray; */
    padding: inherit;
    list-style-position: outside;
}

li {
    line-height: 1.9;
    margin-left: 1rem;
}

fn {
    display: block;
    margin: 100px 0 2rem 0;
    padding-top: 10px;
    border-top: 1px solid var(--text-color);
    font-size: 0.9rem;
    line-height: inherit;
}

canvas {
    display: block;
    margin: 0 auto;;
    width: 90%;
    max-width: 400px;
    min-width: 200px;
}

#bar {
    border: solid var(--text-color) 1px;
    height: 1em;
    width: 80%;
    position: relative;
    margin: 15px auto 0 auto;
}

#barPoint {
    background-color: var(--shiny-color);
    margin-left: 48%;
    height: 100%;
    width: 4%;
    position: absolute;
}

#barCenter {
    margin-left: 48%;
    border: solid var(--text-color) 3px;
    height: 100%;
    width: 4%;
    position: absolute;
    box-sizing: border-box;
}

@media (min-width: 800px) {
    body {
        margin: 0 auto;
    }
}
