html {
    font-size: 12px;
    background-color: seashell;
    color: maroon;
}

header {
    height: 15vh;
    /* background-color: white; */
}

header h1 {
    text-align: center;
    font-size: 3.4rem;
}

header p {
    margin-top: -1rem;
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    background-color: seashell;
}

button {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 35%;
    background: darkslategray;
    border-radius: 2em;
}

button:active {
    background: darkorange;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    font-size: 2.8rem;
    margin-bottom: 4%;
}
