<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="manifest" href="../smartphoneOrchestra.webmanifest" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="../icons/smartphoneOrchestra_180x180.png">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
      <div id="links"><a href="/">Home</a><a href="/instrument">Instrument</a></div>
    </header>
    <main>
      <section>
	<h2>Directions</h2>
	<ul>
	  <li>You don't have to play all the time.</li>
	  <li>Start a tone gradually.</li>
	  <li>Stop a tone gradually.</li>
	  <li>Absorb in the global sound.</li>
	  <li>Strive for the continuity of the general sound.</li>
	  <li>Strive for balance.</li>
	  <li>Give rise to beats when appropriate.</li>
	  <li>Try to trigger auditory distortion products, when the context is appropriate.</li>
	  <li>You can take the sound of a neighboring performer if you want.</li>
	  <li>You can change your position if you like.</li>
	  <li>Follow the general shape<br>
	    <canvas height="100px"></canvas>
	  <li>Stop your playing when you think that the goal<sup><a href="#fn">1</a></sup> has accomplished and the piece can now end.</li>
	</ul>
	<h2 class="otherH2">Remarks</h2>
	<ul>
	  <li>Performers are distributed among and around the audience.</li>
	  <li>Portable speakers can be used for better sound quality.</li>
	  <li>There is an inherent theatrical element in the movements of the performers.</li>
	  <li>Performers download the web page of the piece before the performance.</li>
	</ul>
	<fn><span class="italics">Goal</span>: A mental picture about the form of the piece. Consists of a web of mental spaces that form according to the directions, the rehearsals and the various performances of the piece.</fn>
      </section>
    </main>
  </body>
  <script type="module" src="../javascript/directions.js"></script>
</html>
