<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="vieport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="../stylesheet.css">
    <link rel="manifest" href="../smartphoneOrchestra.webmanifest" crossorigin="use-credentials">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
      <div id="links"><a href="/directions">Directions</a><a href="/instrument">Instrument</span></a></div>
</header>
<main>
  <section>
    <h2>About</h2>
    <p><span class="italics">Piece for smartphone orchestra</span> is a musical work of indeterminate
      duration for any number of players. It is based on a <a href="/directions">text score</a>. Can be
      regarded as a potential aural game on <span class="italics">complex systems</span>,
      <span class="italics">beat tones</span> and <span class="italics">otoacoustic emission effects<span>.</p>
    <p>Players use the smartphone to play a <a href="/instrument">musical instrument</a>. This consists of
      three buttons and a horizontal bar. A tone starts to play when a button is pressed.
      It stops when the button is pressed again. At any moment,
      at most one tone can be heard from a single device. There are three different tones in total.
      Horizontal bar depicts deviation from the center frequency of a playing tone. Deviation is
      reflected on the position of a small moving
      rectangle inside it. When the moving rectangle lies on the center of the bar, deviation is zero.</p>
    <p>The instrument is in neutral position, when the screen faces upwards and frequency deviation is zero.
      In this position the screen defines a horizontal plane. The player can rotate the device around
      a line on the horizontal plane. Rotation angles can take values from 0 degrees, in neutral position, to 180 degrees.
      This rotation sets the amplitude of the selected tone. At neutral position no sound should be heard,
      even if a tone button is pressed.</p>
    <p>Define two perpendicular axes <span class="italics">y'y</span>, <span class="italics">z'z</span>
      that intersect at the center of the screen, such that <span class="italics">y'y</span> lies on the
      horizontal plane and points to the center of the horizontal bar.
      Rotating the device around the <span class="italics">z'z</span> axis affects the frequency of a playing tone.
      Rotation angle from 0 to &plusmn 180 degrees
      deviates the frequency of a selected tone from 0 to &plusmn 100 cents, respectively.</p>
    <p>The instrument should be thought of as having a very fragile nature. This should be reflected
      on the gestures of the player: all rotations and movements must be slow-paced.
      Furthermore, a tone always starts and stops with the screen facing upwards.</p>
    <p>In order to enable audio, the user should make a gesture on the page. A simple tap is adequate.
      After this, the tone buttons will change color signifying that the device is ready to play.</p>
  </section>
</main>
<script type="module" src="../javascript/index.js"></script>
</body>
</html>
