<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tassos Tsesmetzis">
    <meta name="description"
	  content="Piece for Smartphone Orchestra is a sound work for any number of players and indeterminate duration.">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Piece for smartphone orchestra</title>
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <link rel="manifest" href="../smartphoneOrchestra.webmanifest" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="../icons/smartphoneOrchestra_180x180.png">
  </head>
  <body>
    <header>
      <h1>Piece for smartphone orchestra</h1>
      <nav id="links">
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/directions">Directions</a></li>
	</ul>
      </nav>
    </header>
    <main hidden>
      <div id="bar"><div id="barPoint"></div><div id="barCenter"></div></div>
      <div id="button-container">
	<button type="button"></button>
	<button type="button"></button>
	<button type="button"></button>
      </div>
    </main>
    <script type="module" src="../javascript/instrument.js"></script>
  </body>
</html>
