---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/globalStyles.css'

const pageTitle = 'Piece for Smartphone Orchestra'
const pathName = Astro.url.pathname
---

<BaseLayout pageTitle={pageTitle} pathName={pathName}>
  <main>
    <section>
      <h2>Directions</h2>
      <ul>
	<li>You don't have to play all the time.</li>
	<li>Start a tone gradually.</li>
	<li>Stop a tone gradually.</li>
	<li>Absorb in the global sound.</li>
	<li>Strive for the continuity of the general sound.</li>
	<li>Strive for balance.</li>
	<li>Give rise to beats when appropriate.</li>
	<li>Try to trigger auditory distortion products, when the context is appropriate.</li>
	<li>You can take the sound of a neighboring performer if you want.</li>
	<li>You can change your position if you like.</li>
	<li>Follow the general shape<br>
	  <canvas height="100px"></canvas>
	  <li>Stop your playing when you think that the goal<sup><a href="#fn">1</a></sup> has accomplished and the piece can now end.</li>
      </ul>
      <h2>Remarks</h2>
      <ul>
	<li>Performers are distributed among and around the audience.</li>
	<li>Portable speakers can be used for better sound quality.</li>
	<li>There is an inherent theatrical element in the movements of the performers.</li>
	<li>Performers download the web page of the piece before the performance.</li>
      </ul>
      <fn><span class="italics">Goal</span>: A mental picture about the form of the piece. Consists of a web of mental spaces that form according to the directions, rehearsals and various performances of the piece.</fn>
    </section>
  </main>
</BaseLayout>

<script>
 import '../javascript/directions.js'
</script>
