---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/globalStyles.css'

const pageTitle = 'Piece for Smartphone Orchestra'
const pathName = Astro.url.pathname

console.log(pathName, BaseLayout)
---

<BaseLayout pageTitle={pageTitle} pathName="/pieceFormSmartphoneOrchestra"
  <section>
    <h2>About</h2>
    <p><span class="italics">Piece for Smartphone Orchestra</span> is a  work of sound art of indeterminate
      duration. It can be performed by any number of players. Should be regarded as a dynamic sonic structure which is framed by a <a href="/pieceFormSmartphoneOrchestra/directions">text score</a>.
      The resulting sound is a potential game on <span class="italics">beat tones</span> and <span class="italics">otoacoustic emission effects</span>.
      <span class="italics">Piece for Smartphone Orchestra</span> is a manifestation of a <span class="italics">complex systems</span> view of the artwork.</p>
    <p>Players use the smartphone to play a monophonic <a href="/pieceFormSmartphoneOrchestra/instrument">musical instrument</a>. This consists of
      three buttons and a horizontal bar. A tone starts to play when a button is pressed.
      It stops when the button is pressed again.
    </p>
    <p>
      The horizontal bar depicts the deviation from the center frequency of a playing tone. Deviation is
      reflected on the position of a small moving
      rectangle inside the bar. When the moving rectangle lies on the midpoint of the bar, deviation is zero.</p>
    <p>The instrument is in neutral position, when the screen faces upwards and frequency deviation is zero.
      In this position the screen defines a horizontal plane. Let <span class="italics">y'y</span> be the
      line of the horizontal plane that passes through the center of the screen and points to the center of the horizontal bar.
      The player can rotate the device around the <span class="italics">y'y</span> axis.
      Rotation angles can take values from 0 degrees, in neutral position, to &plusmn 180 degrees.
      This rotation sets the amplitude of the selected tone. At neutral position no sound should be heard,
      even if a tone button is pressed.</p>
    <p>Define the axis <span class="italics">z'z</span> as the line that is perpendicular to the horizontal plane
      and intersects  <span class="italics">y'y</span> at the center of the screen.
      Rotating the device around the <span class="italics">z'z</span> axis affects the frequency of a playing tone.
      Rotation angles from 0 to &plusmn 180 degrees
      deviate the frequency of a selected tone from 0 to &plusmn 100 cents, respectively.</p>
    <p>The instrument should be thought of as having a very fragile nature. This should be reflected
      on the gestures of the player: all rotations and movements must be slow-paced.
      Furthermore, a tone always starts and stops with the screen facing upwards.</p>
    <p class="italics" id="name">Tassos Tsesmetzis</p>
  </section>
</BaseLayout>
