---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/globalStyles.css'

const pageTitle = 'Piece for Smartphone Orchestra'
---

<BaseLayout pageTitle={pageTitle}>
    <main hidden>
	<div id="bar"><div id="barPoint"></div><div id="barCenter"></div></div>
	<div id="button-container">
	    <button type="button"></button>
	    <button type="button"></button>
	    <button type="button"></button>
	</div>
    </main>
</BaseLayout>

<script>
 import "../javascript/instrument.js"
</script>
