:root {
    --background-color: #393e46;
    --text-color: #f2f2f2;
    --dark-color: #222831;
    --shiny-color: #f96d00;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0% 16px;
}

header {
    background-color: var(--background-color);
}

header h1 {
    text-align: center;
    font-size: 1.8rem;
}

main {
    background-color: var(--background-color);
}

main h2 {
    font-size: 1.2rem;
}

section {
    background-color: var(--background-color);
    margin-bottom: 120px;
    max-width: 900px;
    margin: auto;
}

.italics {
    font-style: italic;
}

#name {
    margin-right: 25px;
    text-align: right;
    font-size:90%;
}

#button-container {
    height: 72vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 50%;
    height: 20vh;
    background: var(--dark-color);
    border-radius: 2em;
    border: 0 solid var(--background-color);
}

.dark {
    background-color: var(--dark-color);
    transform: scale(1.0);
}

.light {
    background-color: var(--shiny-color);
    transform: scale(0.9);
}

#links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3ex;
}

#links a {
    font-size: 1rem;
}

a:link {
    color: var(--text-color);
}

a:visited {
    color: rgba(var(--text-color), 0.85);
}

li {
    margin-bottom: 10px;
}

fn {
    display: block;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid var(--text-color);
    font: 0.85rem sans-serif;
}

canvas {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bar {
    border: solid var(--text-color) 1px;
    height: 1em;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

#barPoint {
    background-color: #f96d00;
    margin-left: 48%;
    height: 100%;
    width: 4%;
    position: absolute;
}

#barCenter {
    margin-left: 48%;
    border: solid var(--text-color) 3px;
    height: 100%;
    width: 4%;
    position: absolute;
    box-sizing: border-box;
}
