html {
    font-size: 12px;
}

body {
    background-color: seashell;
    color: maroon;
    padding: 0px 10px 0;
}

header {
    background-color: seashell;
    margin-top: -10px;
}

header h1 {
    text-align: center;
    font-size: 3.4rem;
}

main {
    background-color: seashell;
}

section {
    background-color: seashell;
    margin-bottom: 120px;
}

.italics {
    font-style: italic;
}

button {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 3vh;
    margin-bottom: 1%;
    width: 50%;
    height: 23vh;
    background: seashell;
    border-radius: 2em;
    border: 2px solid black;
}

/* Adapted from */
/* https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Switch_role */
button.switch {
  padding: 0;
  width: 25%;
  height: 20vh;
  display: inline-block;
  margin-right: 0.25em;
  margin-top: 3vh;
  margin-left: 26%;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  font: 3.1rem sans-serif;
  border-radius: 1em;
}

button.switch span {
  padding: 0 10%;
  pointer-events: none;
}

[role="switch"][aria-checked="false"] :first-child,
[role="switch"][aria-checked="true"] :last-child {
  background: orange;
  color: white;
}

[role="switch"][aria-checked="false"] :last-child,
[role="switch"][aria-checked="true"] :first-child {
  color: white;
}

label.switch {
  font: 3.2rem sans-serif;
  line-height: 20px;
  user-select: none;
  vertical-align: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#links {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4ex;
}

#links a {
    font-size: 1.8rem;
}

li {
    margin-bottom: 10px;
}

fn {
    display: block;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid maroon;
    font: 0.85rem sans-serif;
}

canvas {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bar {
    border: solid black 1px;
    height: 2em;
    width: 80%;
    position: relative;
    margin: 0 auto;
    visibility: hidden;
}

#barPoint {
    background-color: orange;
    margin-left: 48%;
    height: 100%;
    width: 4%;
    position: absolute;
}

#barCenter {
    margin-left: 48%;
    border: solid maroon 3px;
    height: 100%;
    width: 4%;
    position: absolute;
    box-sizing: border-box;
}
