html {
    font-size: 16px;
}

body {
    background-color: seashell;
    color: maroon;
    padding: 0% 16px;
}

header {
    background-color: seashell;
}

header h1 {
    text-align: center;
    font-size: 1.8rem;
}

main {
    background-color: seashell;
}

main h2 {
    font-size: 1.2rem;
}

section {
    background-color: seashell;
    margin-bottom: 120px;
    max-width: 900px;
    margin: auto;
}

.italics {
    font-style: italic;
}

#name {
    margin-right: 25px;
    text-align: right;
    font-size:90%;
}

button {
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 3vh;
    margin-bottom: 1%;
    width: 50%;
    height: 20vh;
    background: seashell;
    border-radius: 2em;
    border: 2px solid black;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3ex;
}

#links a {
    font-size: 1rem;
}

li {
    margin-bottom: 10px;
}

fn {
    display: block;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid maroon;
    font: 0.85rem sans-serif;
}

canvas {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bar {
    border: solid black 1px;
    height: 1em;
    width: 80%;
    position: relative;
    margin: 0 auto;
}

#barPoint {
    background-color: orange;
    margin-left: 48%;
    height: 100%;
    width: 4%;
    position: absolute;
}

#barCenter {
    margin-left: 48%;
    border: solid maroon 3px;
    height: 100%;
    width: 4%;
    position: absolute;
    box-sizing: border-box;
}
